<template>
  <section class="au-animate">
    <h2>${heading}</h2>
    <form role="form" submit.delegate="submit()">
      <div class="form-group">
        <label for="fn">Filter</label>
        <input type="text" value.bind="filter" class="form-control" id="fl" placeholder="x >= 10">
      </div>
      <div class="form-group">
        <label for="ex">Expr</label>
        <input type="text" value.bind="expr" class="form-control" id="ex" placeholder="x * y = z">
      </div>
      <div class="form-group">
        <label for="or">Order</label>
        <input type="text" value.bind="order" class="form-control" id="or" placeholder="y asc">
      </div>
      <!-- <div class="form-group">
      <label>Full Name</label>
      <p class="help-block">${fullName | upper}</p>
      </div> -->
      <div class="form-group">
        <input type="file" accept=".csv" files.bind="csvFile">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <!-- result -->
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th></th>
          <th repeat.for="col of printHeader">${col}</th>
        </tr>
      </thead>
      <tbody>
        <tr repeat.for="row of printBody">
          <th>${$index}</th>
          <td repeat.for="col of row">${col}</td>
        </tr>
      </tbody>
    </table>
  </section>
</template>
